header {
             background-color: var(--header-bg);
	display: flex;
  	justify-content: space-between;
  	align-items: center;
             color: white;
  	padding: 10px;
}

header .logo {
	text-align: right;
	font-size: 1.5rem;
	font-weight: 700;
             color: white;
             text-decoration: none;
}

header nav { align-items: left; }

header nav ul li {
	margin: 5px;
	padding: 2px;
	display: inline;
}

header nav ul li a {
	font-size: 1rem;
	color: #f5f5f5;
	text-decoration: none;
}



header nav ul li a:hover {
	text-decoration: underline;
	text-decoration-color: #f5f5f5;
}

.sub-header {
             background-color:  var(--sub-header-bg);
             padding: 10px 40px;
             color:  white;
}

.sub-header ul {
             list-style: none;
}

.sub-header ul li {
             display: inline; 
             margin: 10px ;
             font-size: 20px;
}
